<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>

    <ion-title class="ion-text-center" style="font-size: 1.4rem; color: #ff0000">
      2000-2004
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desarrollo Movil Multiplataforma</ion-title>
    </ion-toolbar>
  </ion-header>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>

  <ion-card>
    <iframe 
      width="100%" 
      height="315" 
      src="https://www.youtube.com/embed/PVQLGBet_ME?autoplay=1&loop=1&playlist=PVQLGBet_ME&start=71" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      style="max-width: 800px; display: block; margin: 0 auto;"
    ></iframe>
    <ion-card-header>
      <div style="display: flex; align-items: center;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/PlayStation_2_logo.png" alt="PlayStation Logo" style="width: 200px; height: auto; margin-right: 60px;">
        <ion-card-title class="animated-text">
          Playstation 2 (PS2)
        </ion-card-title>
      </div>
      <ion-card-subtitle class="ion-text-center" style="font-size: 1.4rem; ">Sexta generación</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      PlayStation 2 (en japonés: プレイステーション2 Pureisutēshon Tsu, oficialmente abreviada como PS2) es la segunda videoconsola de sobremesa producida por Sony Computer Entertainment. Fue la tercera consola de Sony en ser diseñada por el japonés Ken Kutaragi, además de ser la sucesora de la PlayStation. Compitió con Dreamcast, GameCube y la primera Xbox.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <iframe 
      width="100%" 
      height="315" 
      src="https://www.youtube.com/embed/zDGl55YV2uA?autoplay=1&loop=1&playlist=zDGl55YV2uA"
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      style="max-width: 800px; display: block; margin: 0 auto;"
    ></iframe>
    <ion-card-header>
      <div style="display: flex; align-items: center;">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/dee38e10-db68-462d-9df7-46b87d4c7876/ddt5qyh-66edc63e-cdbe-4441-8af8-b1777728a189.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RlZTM4ZTEwLWRiNjgtNDYyZC05ZGY3LTQ2Yjg3ZDRjNzg3NlwvZGR0NXF5aC02NmVkYzYzZS1jZGJlLTQ0NDEtOGFmOC1iMTc3NzcyOGExODkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DZdPy_Km957YOLh_VLoucl12fEyIGw9FceMtCd1UnEA" alt="PlayStation Logo" style="width: 200px; height: auto; margin-right: 60px;">
        <ion-card-title class="animated-text">
          Game Boy Advance
        </ion-card-title>
      </div>
      <ion-card-subtitle class="ion-text-center" style="font-size: 1.4rem; ">Sexta generación (2001)</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      La Game Boy Advance (conocida en Japón como ゲームボーイアドバンス; Gēmu Bōi Adobansu), abreviada como GBA, es una consola de videojuegos de la compañía Nintendo, fabricada desde marzo de 2001 hasta 2008. La GBA forma parte de la sexta generación de videoconsolas. El modelo original no tenía una pantalla con iluminación, lo que fue solucionado con la Game Boy Advance SP, un rediseño de la consola que incluía algunas mejoras como la pantalla con iluminación y el uso de baterías de litio. Finalmente sufrió dos últimos rediseños en el 2005, una versión de la SP con pantalla retroiluminada y la Game Boy Micro.    </ion-card-content>
  </ion-card>

  <ion-card>
    <iframe 
      width="100%" 
      height="315" 
      src="https://www.youtube.com/embed/DYtXNRVLPkY?autoplay=1&loop=1&playlist=DYtXNRVLPkY"
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      style="max-width: 800px; display: block; margin: 0 auto;"
    ></iframe>
    <ion-card-header>
      <div style="display: flex; align-items: center;">
        <img src="https://thebusinessofesports.com/wp-content/uploads/2022/11/Xbox-Logo-2001.png" style="width: 200px; height: auto; margin-right: 60px;">
        <ion-card-title class="animated-text">
          Xbox Clasico 
        </ion-card-title>
      </div>
      <ion-card-subtitle class="ion-text-center" style="font-size: 1.4rem; ">Sexta generación (2001)</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Xbox es una videoconsola doméstica de 32 bits y la primera de la serie de videoconsolas Xbox fabricada por Microsoft. Salió a la venta como la primera incursión de Microsoft en el mercado de las consolas de videojuegos el 15 de noviembre de 2001 en Norteamérica, seguida de Australia, Europa y Japón en 2002.1​ Está clasificada como consola de sexta generación, compitiendo con la PlayStation 2 de Sony, la GameCube de Nintendo y la Sega Dreamcast de Sega. También fue la primera consola exitosa producida por una empresa estadounidense desde el lanzamiento de la Atari Jaguar en 1993.
    </ion-card-content>

      </ion-card>

      <ion-card>
        <iframe 
          width="100%" 
          height="315" 
          src="https://www.youtube.com/embed/6Q8iOg8HUuY?autoplay=1&loop=1&playlist=6Q8iOg8HUuY" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen
          style="max-width: 800px; display: block; margin: 0 auto;"
        ></iframe>
        <ion-card-header>
          <div style="display: flex; align-items: center;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Nintendo_GameCube-06.svg/1920px-Nintendo_GameCube-06.svg.png" style="width: 200px; height: auto; margin-right: 60px;">
            <ion-card-title class="animated-text">
             Nintendo GameCube 
            </ion-card-title>
          </div>
          <ion-card-subtitle class="ion-text-center" style="font-size: 1.4rem; ">Sexta generación (2001)</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          Nintendo GameCube (ニンテンドーゲームキューブ Nintendō GēmuKyūbu?) también llamada simplemente la GameCube y abreviada como GCN en América y NGC en Japón, es la quinta consola discontinuada de sobremesa hecha por Nintendo. Fue la sucesora de la Nintendo 64 y la predecesora de la Wii.
                </ion-card-content>
    
          </ion-card>

          <ion-card>
            <iframe 
              width="100%" 
              height="315" 
              src="https://www.youtube.com/embed/zbilRUMFoTg?autoplay=1&loop=1&playlist=zbilRUMFoTg" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen
              style="max-width: 800px; display: block; margin: 0 auto;"
            ></iframe>
            <ion-card-header>
              <div style="display: flex; align-items: center;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Sony-PSP-1000-Body.png/1024px-Sony-PSP-1000-Body.png" style="width: 200px; height: auto; margin-right: 60px;">
                <ion-card-title class="animated-text">
                 PlayStation Portable (PSP) 
                </ion-card-title>
              </div>
              <ion-card-subtitle class="ion-text-center" style="font-size: 1.4rem; ">Sexta generación (2004)</ion-card-subtitle>
            </ion-card-header>
        
            <ion-card-content>
              PlayStation Portable (PSP) es una videoconsola portátil de la multinacional de origen japonés, y la cuarta consola de Sony en ser diseñada por Ken Kutaragi, PSP servía para videojuegos, conectarse a internet y reproducir y ver multimedia.2​3​ Se trata de la primera consola portátil a nivel mundial de Sony y la segunda lanzada en Japón.                    </ion-card-content>
        
              </ion-card>
    

<style>
  @keyframes rgbEffect {
    0% {
      color: red;
    }
    25% {
      color: yellow;
    }
    50% {
      color: green;
    }
    75% {
      color: blue;
    }
    100% {
      color: purple;
    }
  }

  @keyframes moveText {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }

  /* Clase que aplica ambas animaciones */
  .animated-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #000;
    animation: rgbEffect 3s infinite, moveText 2s infinite;
  }
</style>
</ion-content>